auto-install-peers = true
public-hoist-pattern[]=*storybook*
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
// Use local overrides for the composer-kit scope
@composer-kit:registry=https://registry.npmjs.org/
# !dist 