name: Release

on:
  push:
    branches:
      - issue-17-configure-ci-cd
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Test Changeset and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write

    steps:
      # Step 1: Checkout repository
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Step 2: Setup Node.js
      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Step 3: Enable Corepack
      - name: Enable Corepack
        run: corepack enable

      # Step 4: Activate the Correct pnpm Version
      - name: Use pnpm
        run: corepack prepare pnpm@8.15.6 --activate

      # Step 5: Install dependencies using pnpm
      - name: Install Dependencies
        run: pnpm install
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Step 6: Test Changeset with a dry-run
      - name: Test Changeset with pnpm changeset publish --dry-run
        run: pnpm changeset publish --dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Step 7: Publish to npm (Uncomment for real publish after testing)
      # - name: Publish to npm
      #   run: pnpm changeset publish
      #   env:
      #     GITHUB_TOKEN: $
